<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div style="text-align: center">
  <h1>{{message}}</h1>
</div>

<div class="container" style="margin-right:-100px ">
  <div class="row">

    <div class="col-md-6" >

      <form class="form-style-9" >
        <h1> Ajouter Projet</h1>
        <ul>
          <li>
            <input required type="text" [(ngModel)]="projet.nom" name="name" id="nom"
                   class="field-style field-full align-none" maxlength="28" placeholder="Enter your fullname..." />

          </li>
          <li>
            <input  class="field-style field-full align-none" type="text" [(ngModel)]="projet.duree" name="email" id="duree" required
                   placeholder="Enter valid email address" />
          </li>

          <li>
            <input class="field-style field-full align-none" type="text" [(ngModel)]="projet.statut" name="experience" id="statut"
                   placeholder="Total year of experience" required />
          </li>
          <li>
            <input class="btn btn-success" type="submit" name="submit_reg" value="Register" (click)="save()">

          </li>
        </ul>
      </form>

    </div><!-- ends col-6 -->

  </div>
</div>

