

<div id="chart">
  <div style="display: block ">
    <canvas baseChart

            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"></canvas>

  </div>

</div>


<div id="top">
  <br>
  <div class="card">
    <img src="assets/img/users.png" alt="Avatar" style="width:80%">
    <div class="container">
      <h4><b>Co-workers :</b></h4>
      <p>Architect & Engineer</p>
    </div>
  </div>
  <br>
  <div class="card">
    <img src="assets/img/doneprojects.png" alt="Avatar" style="width:80%">
    <div class="container">
      <h4><b>Project completed</b></h4>
      <p>Architect & Engineer</p>
    </div>
  </div>
</div>


