<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<div class="container">
  <div class="row">
    <div id="custom-search-input">
      <div class="input-group col-md-12" style="text-align: center">
        <input type="text" class="search-query form-control" placeholder="Search With Email Address"  name="email" [(ngModel)]="name"/>
        <span class="input-group-btn">
          <button class="btn btn-danger" type="button" (click)="findProjectByName()">
            <span class=" glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle">
      <table class="table table-striped custab">
        <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Duree</th>
          <th>Statut</th>
          <th>Chef</th>
          <th>Supprimer</th>
          <th>Modifier</th>
          <th>Valider</th>
          <th>Affecter</th>
          <th>Voire phases</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let projet of projets">
          <td>{{projet.id}}</td>
          <td>{{projet.nom}}</td>
          <td>{{projet.duree}}</td>
          <td>{{projet.statut}}</td>
          <td>{{projet.chef.nom}}</td>
          <td class="text-center"><button class="btn btn-danger btn-xs" (click)="deleteProject(projet.id)"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
          <td class="text-center"><button class="btn btn-success btn-xs" (click)="updateProject(projet)"><span class="glyphicon glyphicon-remove"></span> Edit </button></td>
          <td class="text-center"><button class="btn btn-danger btn-xs" (click)="validerProject(projet.id)"><span class="glyphicon glyphicon-remove"></span> Valider</button></td>
          <td class="text-center"><button class="btn btn-xs" (click)="getChefs(projet.id)"><span class="glyphicon glyphicon-remove"></span> Affecter </button></td>
          <td class="text-center"><button class="btn btn-xs" (click)="getPhases(projet.id)"><span class="glyphicon glyphicon-remove"></span> Phases </button></td>

        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
