<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<div class="container" style="margin-right:-1px">
  <div class="wrapper">
  <div class="row">
    <div id="custom-search-input">
      <div class="input-group col-md-12" style="text-align: center">
        <input type="text" class="search-query form-control" placeholder="Search With Email Address"  name="email" [(ngModel)]="name"/>
        <span class="input-group-btn">
          <button class="btn btn-danger" type="button" (click)="findPhaseByName()">
            <span class=" glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
    </div>
  </div>
  </div>
        <div class="row no-padding" *ngIf="user.fonction.nom=='Directeur'">
          <div class="col-md-4">
            <ul class="notes" >
              <h2 style="text-align: center"> TO DO </h2>
              <div *ngFor="let phase of phases" >
                <li  *ngIf="phase.statut=='todo'">

                  <p >{{phase.id}}</p>
                  <p >Delai: {{phase.delai  | date}} </p>
                  <p>{{phase.nom}}</p>


                  <td class="text-center"><button class="btn btn-link"  (click)="deletePhase(phase.id)"><img class="wave" style="width:60%" src="assets/img/delete.png"></button></td>
                  <td class="text-center"><button class="btn btn-link"  (click)="updatePhase(phase)"><img class="wave" style="width:80%" src="assets/img/edit.png"> </button></td>
                  <td class="text-center"><button class="btn btn-link" (click)="getTaches(phase.id)"><img class="wave" style="width:95%" src="assets/img/taches.png"> </button></td>
                </li>
              </div>

            </ul>
          </div>
          <div class="col-md-4">
            <ul class="notes1" >
              <h2 style="text-align: center"> IN PROGRESS </h2>
              <div *ngFor="let phase of phases1" >
                <li  *ngIf="phase.statut=='inprogress'">

                  <p >{{phase.id}}</p>
                  <p >Delai: {{phase.delai  | date}} </p>
                  <p>{{phase.nom}}</p>


                  <td class="text-center"><button class="btn btn-link"  (click)="deletePhase(phase.id)"><img class="wave" style="width:60%" src="assets/img/delete.png"></button></td>
                  <td class="text-center"><button class="btn btn-link"  (click)="updatePhase(phase)"><img class="wave" style="width:80%" src="assets/img/edit.png"> </button></td>
                  <td class="text-center"><button class="btn btn-link" (click)="getTaches(phase.id)"><img class="wave" style="width:95%" src="assets/img/taches.png"> </button></td>
                </li>
              </div>

            </ul>
          </div>
          <div class="col-md-4">
            <ul class="notes2" >
              <h2 style="text-align: center"> DONE</h2>
              <div *ngFor="let phase of phases2" >
                <li  *ngIf="phase.statut=='done'">

                  <p >{{phase.id}}</p>
                  <p >Delai: {{phase.delai  | date}} </p>
                  <p>{{phase.nom}}</p>


                  <td class="text-center"><button class="btn btn-link"  (click)="deletePhase(phase.id)"><img class="wave" style="width:60%" src="assets/img/delete.png"></button></td>
                  <td class="text-center"><button class="btn btn-link"  (click)="updatePhase(phase)"><img class="wave" style="width:80%" src="assets/img/edit.png"> </button></td>
                  <td class="text-center"><button class="btn btn-link" (click)="getTaches(phase.id)"><img class="wave" style="width:95%" src="assets/img/taches.png"> </button></td>
                </li>
              </div>

            </ul>
          </div>
      <div style="
      margin-top:33%;
      position:fixed;
      z-index: 30">
        <a [routerLink]="['/phaseForm']"><button class="btn btn-link" ><img class="wave3" style="width:100%; margin-right:-1700%" src="assets/img/add.png"> </button></a>
      </div>

    </div>

  <div class="row no-padding" *ngIf="user.fonction.nom=='Employee'">
    <div class="col-md-4">
      <ul class="notes" >
        <h2 style="text-align: center"> TO DO </h2>
        <div *ngFor="let phase of phases" >
          <li  *ngIf="phase.statut=='todo'">

            <p >{{phase.id}}</p>
            <p >Delai: {{phase.delai  | date}} </p>
            <p>{{phase.nom}}</p>


            <td class="text-center"><button class="btn btn-link" (click)="getTaches(phase.id)"><img class="wave" style="width:95%" src="assets/img/taches.png"> </button></td>
          </li>
        </div>

      </ul>
    </div>
    <div class="col-md-4">
      <ul class="notes1" >
        <h2 style="text-align: center"> IN PROGRESS </h2>
        <div *ngFor="let phase of phases1" >
          <li  *ngIf="phase.statut=='inprogress'">

            <p >{{phase.id}}</p>
            <p >Delai: {{phase.delai  | date}} </p>
            <p>{{phase.nom}}</p>


            <td class="text-center"><button class="btn btn-link" (click)="getTaches(phase.id)"><img class="wave" style="width:95%" src="assets/img/taches.png"> </button></td>
          </li>
        </div>

      </ul>
    </div>
    <div class="col-md-4">
      <ul class="notes2" >
        <h2 style="text-align: center"> DONE</h2>
        <div *ngFor="let phase of phases2" >
          <li  *ngIf="phase.statut=='done'">

            <p >{{phase.id}}</p>
            <p >Delai: {{phase.delai  | date}} </p>
            <p>{{phase.nom}}</p>


            <td class="text-center"><button class="btn btn-link" (click)="getTaches(phase.id)"><img class="wave" style="width:95%" src="assets/img/taches.png"> </button></td>
          </li>
        </div>

      </ul>
    </div>
    <div style="
      margin-top:33%;
      position:fixed;
      z-index: 30">
      <a [routerLink]="['/phaseForm']"><button class="btn btn-link" ><img class="wave3" style="width:100%; margin-right:-1700%" src="assets/img/add.png"> </button></a>
    </div>

  </div>

  <div class="row no-padding" *ngIf="user.fonction.nom=='chef'">
    <div class="col-md-4">
      <ul class="notes" >
        <h2 style="text-align: center"> TO DO </h2>
        <div *ngFor="let phase of phases" >
          <li  *ngIf="phase.statut=='todo'">

            <p >{{phase.id}}</p>
            <p >Delai: {{phase.delai  | date}} </p>
            <p>{{phase.nom}}</p>


            <td class="text-center"><button class="btn btn-link"  (click)="deletePhase(phase.id)"><img class="wave" style="width:60%" src="assets/img/delete.png"></button></td>
            <td class="text-center"><button class="btn btn-link"  (click)="updatePhase(phase)"><img class="wave" style="width:80%" src="assets/img/edit.png"> </button></td>
            <td class="text-center"><button class="btn btn-link" ((click)="validerPhase(phase.id)"><img class="wave" style="width:85%" src="assets/img/valider.png"> </button></td>
            <td class="text-center"><button class="btn btn-link" (click)="getTaches(phase.id)"><img class="wave" style="width:95%" src="assets/img/taches.png"> </button></td>
          </li>
        </div>

      </ul>
    </div>
    <div class="col-md-4">
      <ul class="notes1" >
        <h2 style="text-align: center"> IN PROGRESS </h2>
        <div *ngFor="let phase of phases1" >
          <li  *ngIf="phase.statut=='inprogress'">

            <p >{{phase.id}}</p>
            <p >Delai: {{phase.delai  | date}}  </p>
            <p>{{phase.nom}}</p>


            <td class="text-center"><button class="btn btn-link"  (click)="deletePhase(phase.id)"><img class="wave" style="width:60%" src="assets/img/delete.png"></button></td>
            <td class="text-center"><button class="btn btn-link"  (click)="updatePhase(phase)"><img class="wave" style="width:80%" src="assets/img/edit.png"> </button></td>
            <td class="text-center"><button class="btn btn-link" ((click)="validerPhase(phase.id)"><img class="wave" style="width:85%" src="assets/img/valider.png"> </button></td>
            <td class="text-center"><button class="btn btn-link" (click)="getTaches(phase.id)"><img class="wave" style="width:95%" src="assets/img/taches.png"> </button></td>
          </li>
        </div>

      </ul>
    </div>
    <div class="col-md-4">
      <ul class="notes2" >
        <h2 style="text-align: center"> DONE</h2>
        <div *ngFor="let phase of phases2" >
          <li  *ngIf="phase.statut=='done'">

            <p >{{phase.id}}</p>
            <p >Delai: {{phase.delai  | date}} </p>
            <p>{{phase.nom}}</p>


            <td class="text-center"><button class="btn btn-link"  (click)="deletePhase(phase.id)"><img class="wave" style="width:60%" src="assets/img/delete.png"></button></td>
            <td class="text-center"><button class="btn btn-link"  (click)="updatePhase(phase)"><img class="wave" style="width:80%" src="assets/img/edit.png"> </button></td>
            <td class="text-center"><button class="btn btn-link" ((click)="validerPhase(phase.id)"><img class="wave" style="width:85%" src="assets/img/valider.png"> </button></td>
            <td class="text-center"><button class="btn btn-link" (click)="getTaches(phase.id)"><img class="wave" style="width:95%" src="assets/img/taches.png"> </button></td>
          </li>
        </div>

      </ul>
    </div>
    <div style="
      margin-top:33%;
      position:fixed;
      z-index: 30">
      <a [routerLink]="['/phaseForm']"><button class="btn btn-link" ><img class="wave3" style="width:100%; margin-right:-1700%" src="assets/img/add.png"> </button></a>
    </div>

  </div>

</div>

