<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div style="text-align: center">
  <h1>{{message}}</h1>
</div>

<div class="container" style="margin-right:-100px">

  <div class="row">
    <div class="col-md-6">

      <form class="form-style-9">

        <h1> Ajouter une Phase </h1>
        <ul>
          <li>
            <input required type="text" [(ngModel)]="phase.nom" name="name" id="nom"
                   class="field-style field-full align-none" maxlength="28" placeholder="Enter le nom de la phase..." />
          </li>
          <li>
            <input class="form-control" type="text" [(ngModel)]="phase.statut" name="experience" id="statut"
                   class="field-style field-full align-none" placeholder="Statut" required />
          </li>


          <li>
            <input class="btn btn-success" type="submit" name="submit_reg" value="Register" (click)="save()">

          </li>
        </ul>
      </form>

    </div><!-- ends col-6 -->

  </div>
</div>

