<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div style="text-align: center">
  <h1>{{message}}</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-6">


      <form class="form-style-9">
        <h1> Ajouter une Tache</h1>
        <ul>
          <li>

            <input required type="text" [(ngModel)]="tache.nom" name="name" id="nom"
                   class="field-style field-full align-none" maxlength="28" placeholder="Enterle nom de la tache..." />
          </li>
          <li>
             <input required type="text" [(ngModel)]="tache.statut" name="name" id="statut"
                    class="field-style field-full align-none"  maxlength="28" placeholder="Statut..." />

          </li>
          <li>
            <input class="btn btn-success" type="submit" name="submit_reg" value="Register" (click)="save()">

          </li>
        </ul>
      </form>

      <!-- ends register form -->
      <!-- second for to fiter user-->
    </div><!-- ends col-6 -->

  </div>
</div>

